@use "../../styles/abstracts/breakpoints" as *;


.modalNoteEditor {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 15px;

    background: rgba(#202124, 0.75);

    @media (max-width: $sm) {
        justify-content: stretch;
        align-items: stretch;

        padding: 0;
    }
}