@use "../abstracts/breakpoints" as *;


body {
    background: #202124;
    
    font-family: "Roboto", sans-serif;
}


.container {
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: $lg) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (max-width: $md) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (max-width: $sm) {
        padding-left: 15px;
        padding-right: 15px;
    }
}